

.root{
    -fx-background-color: #262626;

}

.table-view{
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    /*-fx-background-color: linear-gradient(#131313 0%, #424141 100%);*/
    -fx-pref-height: 30px;
   -fx-background-color: white;
    -fx-border-width: 1.5;
    -fx-border-color: rgba(139, 153, 163, 0.5) white rgba(139, 153, 163, 0.5) white;

}

.table-view .column-header-background .label{
    -fx-background-color: white;
    -fx-text-fill: #172023;
    -fx-alignment:center-left;
}


.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-pref-height: 45px;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-pref-height: 45px;
    -fx-background-color: white;
    -fx-border-color: transparent;
}
.table-row-cell{
    -fx-border-color: rgba(139, 153, 163, 0.5) white white white;
    -fx-border-width: 1.5;
    -fx-background-color: white;

}
.table-row-cell:hover{
    -fx-background-color: rgb(87, 86, 86);
}
/*.table-row-cell:odd{*/
/*    -fx-background-color: -fx-table-cell-border-color, #424242;*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*    -fx-padding: 0.0em; !* 0 *!*/
/*}*/

.table-row-cell:selected {
    -fx-background-color: rgba(118, 117, 117, 0.66);

}
/*
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}*/
